# Created by .ignore support plugin (hsz.mobi)
.idea
.gradle
/build
app/build
app/out
app/src/main/resources/wellcomeapp-cc11e-30f446861838.json
app/Logs.txt

Logs.txt
app/src/main/java/
app/src/test/java/
